---
layout: default
title: Blog
permalink: /blog/
---

<div class="blog-container">
  <h1 class="blog-title">Quantum Nexus Blog</h1>
  
  <div class="blog-posts">
    {% for post in site.posts %}
    <article class="blog-post">
      <h2 class="post-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>
      <div class="post-meta">
        <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        {% if post.categories.size > 0 %}
        <span class="post-categories">
          {% for category in post.categories %}
          <span class="category">{{ category }}</span>
          {% endfor %}
        </span>
        {% endif %}
      </div>
      <div class="post-excerpt">
        {{ post.excerpt }}
      </div>
      <a href="{{ post.url | relative_url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
  </div>
</div>
